
.contenedor-principal > div{
    padding: 10px;
}

.contenedor-principal > .barra-superior{
    height: 40px;
    margin: 15px 10px 5px 10px; /* top, right, bottom, left*/
    border-radius: 5px;
    box-shadow: 0px 2px 3px 1px rgba(20, 20, 20, 0.3);
    background-color: #DDD;
}

.contenedor-principal > .grid-secciones{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 15px;
}

.grid-secciones > .seccion{
    border-radius: 5px;
    box-shadow: 0px 2px 3px 1px rgba(20, 20, 20, 0.3);
    background-color: #DDD;
}
